[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mahendernalla
[access "refs/for/refs/*"]
	read = group user/mahendernalla
	push = group user/mahendernalla
	label-Code-Review = -2..+2 group user/mahendernalla
	label-Verified = -1..+1 group user/mahendernalla
	rebase = group user/mahendernalla
	removeReviewer = group user/mahendernalla
	submit = group user/mahendernalla
[access "refs/heads/*"]
	read = group user/mahendernalla
	create = group user/mahendernalla
	push = +force group user/mahendernalla
	pushMerge = group user/mahendernalla
[access "refs/tags/*"]
	push = group user/mahendernalla
	push = +force group user/mahendernalla
